/*
    light:  F4DFAA
            F1CA92
            BF9C73
    dark    3F372F
    red     DA2624
*/

/* https://material.io/design/color/the-color-system.html#color-theme-creation*/


body{
    background-color: #d3d3d3;
}

.attribute {
    background-color: pink;
    border: 2px solid black;
	border-radius: 200px;
	height: 4vh;
    width: 30vw;
    font-size: 50px;
}

.modifier {
    background-color: crimson;
    border: 2px solid black;
	border-radius: 200px;
	height: 4vh;
    width: 30vw;
	margin-left: 1px;
    text-align: right;
    font-size: 30px;
}
