/*
    light:  F4DFAA
            F1CA92
            BF9C73
    dark    3F372F
    red     DA2624
*/

/* https://material.io/design/color/the-color-system.html#color-theme-creation*/
/* @import url('https://fonts.googleapis.com/css?family=Metamorphous'); */
@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua');
/* @import url('https://fonts.googleapis.com/css?family=Lancelot'); */
/* @import url('https://fonts.googleapis.com/css?family=Yeon+Sung'); */
@import url('https://fonts.googleapis.com/css?family=Oldenburg');

body {
    background-color: #d3d3d3;
    background-image: url('background.jpg');
}

attribute {
    margin: 4px;
    display: inline;
    /* font-family: 'Metamorphous', cursive; */
    font-family: 'Modern Antiqua', cursive;
    /* font-family: 'Lancelot', cursive; */
    /* font-family: 'Yeon+Sung', cursive; */
    /* font-family: 'Oldenburg', cursive; */
}

.attribute-container{
    text-align: center;
}

.attribute {
    border: 3px solid #150301;
    border-radius: 200px;
    height: 1.2em;
    width: 2.3em;
    font-size: 50px;
    color: rgb(0, 0, 0);
    display: inline-block;
    background-image: url('background.jpg');
}

attribute.bright .attribute {
    border-color: #F5F3F1;
    color: white;
}


.attribute-container div b {
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
    margin-right: 34px;
    font-size: 25px;
    font-family: 'Oldenburg', cursive;
}

attribute.bright .attribute-container div b {
    color: white;
}

.attribute div {
    vertical-align: top;
    display: inline-block;
    height: 100%;
}


.attribute .inc_button {
    font-size: 25px;
    color:rgb(0, 0, 0);
    cursor: pointer;
    width: 0.7em;
    float: right;
    line-height: 2.4em;

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

attribute.bright .attribute .inc_button {
    color: white;
}

.attribute .dec_button {
    font-size: 25px;
    color:rgb(0, 0, 0);
    cursor: pointer;
    width: 0.7em;
    float: left;
    line-height: 2.4em;

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

attribute.bright .attribute .dec_button {
    color: white;
}

.attribute .value {
    line-height: 1.2em;
    position: static;
}

.attribute .value span {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
}

.modifier {
    border: 3px solid #150301;
    color: rgb(0, 0, 0);
    border-radius: 200px;
    height: 1.5em;
    width: 1.5em;
    margin-left: 1px;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    line-height: 1.5;
    background-image: url('background.jpg');
}

attribute.bright .modifier {
    border-color: white;
    color: white;
}

/* Bootstrap Extra CSS */
.dropdown {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    margin-top: 15px;
}

.dropdown-menu {
    text-align: center;
    background-color: #f9e0c3;
}

a:hover {
    color: #07182c;
    text-decoration: underline;
}

a {
    color: #000;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem #f2c32380;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #f2c32380;
}

.btn-primary:hover {

    color: #fff;
    background-color: #000;
    border-color: #0b325c;

}

.btn-primary {

    color: #fff;
    background-color: #000;
    border-color: #0b325c;

}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #000;
    border-color: #0b325c;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    border: 3px solid black;
    width: 25em;
    background-image: url('background.jpg');
    color: #150301;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0;
    font-size: 25px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -25px;
    left: 110%;
}
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
}