/*
    light:  F4DFAA
            F1CA92
            BF9C73
    dark    3F372F
    red     DA2624
*/

/* https://material.io/design/color/the-color-system.html#color-theme-creation*/
/* @import url('https://fonts.googleapis.com/css?family=Metamorphous'); */
/* @import url('https://fonts.googleapis.com/css?family=Modern+Antiqua'); */
/* @import url('https://fonts.googleapis.com/css?family=Lancelot'); */
/* @import url('https://fonts.googleapis.com/css?family=Yeon+Sung'); */
@import url('https://fonts.googleapis.com/css?family=Oldenburg');

body{
    background-color: #d3d3d3;
    background-image: url('background.jpg');
}

attribute{
    margin: 4px;
    display: inline;
    /* font-family: 'Metamorphous', cursive; */
    /* font-family: 'Modern Antiqua', cursive; */
    /* font-family: 'Lancelot', cursive; */
    /* font-family: 'Yeon+Sung', cursive; */
    font-family: 'Oldenburg', cursive;
}

.attribute-container{
    text-align: center;
}

.attribute {
    background-color: #a61108;
    border: 3px solid #150301;
    border-radius: 200px;
    height: 1.2em;
    width: 2.3em;
    font-size: 50px;
    color: rgb(0, 0, 0);
    display: inline-block;
    background-image: url('background.jpg');
}


div b{
    text-align: center;
    vertical-align: middle;
    margin-right: 34px;
    font-size: 25px;
}

.attribute div {
    vertical-align: top;
    display: inline-block;
    height: 100%;
}


.attribute .inc_button{
    font-size: 25px;
    color:rgb(0, 0, 0);
    cursor: pointer;
    width: 0.7em;
    float: right;
    line-height: 2.4em;
}

.attribute .dec_button{
    font-size: 25px;
    color:rgb(0, 0, 0);
    cursor: pointer;
    width: 0.7em;
    float: left;
    line-height: 2.4em;
}

.attribute .value {
    line-height: 1.2em;
    position: static;
}

.attribute .value span{
    vertical-align: middle;
    display: inline-block;
    width: 100%;
}

.modifier {
    background-color: crimson;
    border: 3px solid #150301;
    border-radius: 200px;
    height: 1.5em;
    width: 1.5em;
    margin-left: 1px;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    line-height: 1.5em;
    background-image: url('background.jpg');
}
